{% extends "movies/base.html" %}

{% block content %}

    <h1>新規登録</h1>
    
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <ul>
        <li><a href="{% url 'logbook:index' %}">Top</a></li>
        <li><a href="{{ request.META.HTTP_REFERER }}"><< Cancel</a></li>
    </ul>

    <form action="{% url 'itunesstore:results' %}" method="get">
        <label>iTunes Storeで検索 <input type="text" size="20" name="search_key"></label>
        <input type="submit" value="検索">
    </form>

    {% include "movies/movie_form.html" %}

    <ul>
        <li><a href="{% url 'logbook:index' %}"><< Cancel</a></li>
    </ul>

{% endblock %}
