{% extends "movies/base.html" %}

{% block content %}

    <h1>{{ movie.title }}</h1>
    
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    
    <ul>
        <li><a href="{% url 'logbook:detail' pk=movie.id %}">Cancel</a></li>
        <li><a href="{% url 'logbook:index' %}">Return Index</a></li>
    </ul>

    <form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="登録" />
    <form>
    
    <hr />

    <ul>
        <li><a href="{% url 'logbook:delete' movie.id %}" onclick="return confirm('Are you sure to delete the item?')">Delete</a></li>
    </ul>

{% endblock %}
