{% extends "movies/base.html" %}
{% load static %}

{% block content %}

    <ul>
        <li><a href="{% url 'logbook:add' %}">新規登録</a></li>
    </ul>

    {% if movie_list %}

        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="{% url 'logbook:index' %}?page={{ page_obj.previous_page_number }}">prev.</a></li>
                {% endif %}
                {% for link_page in page_obj.paginator.page_range %}
                    {% if link_page == page_obj.number %}
                        <li class="active">{{ link_page }}</li>
                    {% else %}
                        <li><a href="{% url 'logbook:index' %}?page={{ link_page }}">{{ link_page }}</a></li>
                    {% endif %}
                {% endfor %}
    
                {% if page_obj.has_next %}
                    <li><a href="{% url 'logbook:index' %}?page={{ page_obj.next_page_number }}">next</a></li>
                {% endif %}
            </ul>
        {% endif %}

        <div class="movies">
        {% for movie in movie_list %}
            <hr class="movie_hr" />
            <table class="movie">
                <tr>
                    <td valign="top" class="img">
                        <a href="{% url 'logbook:detail' movie.id %}">
                        {% if movie.img_url100 %}
                        <img src="{% static 'logbook/images' %}/{{ movie.img_url100 | slice:":1" | lower }}/{{ movie.img_url100 }}" style="padding-right:5px;" class="movie_img" />
                        {% else %}
                        <img src="{% static 'logbook/images/n-a.gif' %}" style="padding-right:5px;" class="movie_img" />
                        {% endif %}
                        </a>
                    </td>
                    <td valign="top">
                        <span class="title">{{ movie.title }}</span><br />
                        <div>
                        {{ movie.date | date:"Y-n-d" }}<br />
                        {% if movie.score == 1 %}
                        <span class="score" style="color:gold;">★</span>
                        {% elif movie.score == 2 %}
                        <span class="score" style="color:gold;">★★</span>
                        {% elif movie.score == 3 %}
                        <span class="score" style="color:gold;">★★★</span>
                        {% elif movie.score == 4 %}
                        <span class="score" style="color:gold;">★★★★</span>
                        {% elif movie.score == 5 %}
                        <span class="score" style="color:gold;">★★★★★</span>
                        {% endif %}
                        </div>
                    </td>
                </tr>
            </table>
        {% endfor %}
        </div>

        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="{% url 'logbook:index' %}?page={{ page_obj.previous_page_number }}">prev.</a></li>
                {% endif %}
                {% for link_page in page_obj.paginator.page_range %}
                    {% if link_page == page_obj.number %}
                        <li class="active">{{ link_page }}</li>
                    {% else %}
                        <li><a href="{% url 'logbook:index' %}?page={{ link_page }}">{{ link_page }}</a></li>
                    {% endif %}
                {% endfor %}
    
                {% if page_obj.has_next %}
                    <li><a href="{% url 'logbook:index' %}?page={{ page_obj.next_page_number }}">next</a></li>
                {% endif %}
            </ul>
        {% endif %}

    {% else %}
        <p>No movies are available.</p>

    {% endif %}

{% endblock %}
